apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubelet-delete
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubelet-delete
subjects:
- kind: Group
  name: system:nodes
  apiGroup: rbac.authorization.k8s.io
