apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    server: ${server}
    certificate-authority-data: ${ca_cert}
users:
- name: kubelet
  user:
    token: ${token_id}.${token_secret}
contexts:
- context:
    cluster: local
    user: kubelet
