# Customize inbound failsafe rules
# https://docs.projectcalico.org/v3.5/getting-started/bare-metal/policy/failsafe
apiVersion: crd.projectcalico.org/v1
kind: GlobalNetworkPolicy
metadata:
  name: failsafe-ingress
spec:
  preDNAT: true
  applyOnForward: true
  selector: has(host-endpoint)
  order: 0
  ingress:
  # SSH access
  - action: Allow
    protocol: TCP
    source:
      nets: ${management_cidrs}
    destination:
      ports: [22]
  # DHCP access
  - action: Allow
    protocol: UDP
    source:
      nets: ${node_public_ips}
    destination:
      ports: [68]
  # BGP and etcd access
  - action: Allow
    protocol: TCP
    source:
      nets: ${node_public_ips}
    destination:
      ports:
      # BGP access (Calico networking)
      - 179
      # etcd access
      - 2379
      - 2380
      # etcd self-hosted service access
      - 6666
      - 6667
---
# Allow traffic from IP addresses that are known to be cluster-internal including pods and services
apiVersion: crd.projectcalico.org/v1
kind: GlobalNetworkPolicy
metadata:
  name: allow-cluster-internal-ingress
spec:
  order: 10
  preDNAT: true
  applyOnForward: true
  ingress:
    - action: Allow
      source:
        nets: ${cluster_internal_cidrs}
  selector: has(host-endpoint)
---
# Deny traffic from any other sources
apiVersion: crd.projectcalico.org/v1
kind: GlobalNetworkPolicy
metadata:
  name: drop-other-ingress
spec:
  order: 20
  preDNAT: true
  applyOnForward: true
  ingress:
    - action: Deny
  selector: has(host-endpoint)
---
# Allow egress traffic through nodes' external interface
apiVersion: crd.projectcalico.org/v1
kind: GlobalNetworkPolicy
metadata:
  name: allow-outbound-external
spec:
  order: 10
  egress:
    - action: Allow
  selector: has(host-endpoint)
---
# controller hosts endpoint
${controller_host_endpoints}
---
# worker hosts endpoint
${worker_host_endpoints}
---
# api server access from public
apiVersion: crd.projectcalico.org/v1
kind: GlobalNetworkPolicy
metadata:
  name: allow-nodeport-apiserver
spec:
  preDNAT: true
  applyOnForward: true
  order: 10
  ingress:
  - action: Allow
    protocol: TCP
    destination:
      ports: [6443]
  selector: nodetype == 'controller'
---
# Allow incoming traffic to Contour
apiVersion: crd.projectcalico.org/v1
kind: GlobalNetworkPolicy
metadata:
  name: contour-ingress
spec:
  preDNAT: true
  applyOnForward: true
  selector: has(host-endpoint)
  order: 0
  ingress:
  - action: Allow
    protocol: TCP
    destination:
      ports: [80, 443]
  selector: nodetype == 'worker'
---
# Disable default failsafe inbound rules
apiVersion: crd.projectcalico.org/v1
kind: FelixConfiguration
metadata:
  name: default
spec:
  failsafeInboundHostPorts: []
