---
apiVersion: crd.projectcalico.org/v1
kind: HostEndpoint
metadata:
  name: ${node_name}-bond0
  labels:
    host-endpoint: ingress
    nodetype: controller
spec:
  interfaceName: bond0
  node: "${node_name}"
