---
systemd:
  units:
    - name: installer.service
      enable: true
      contents: |
        [Unit]
        Requires=network-online.target
        After=network-online.target
        [Service]
        Type=simple
        ExecStart=/opt/installer
        [Install]
        WantedBy=multi-user.target
    # Avoid using the standard SSH port so Terraform apply cannot SSH until
    # post-install. But admins may SSH to debug disk install problems.
    # After install, sshd will use port 22 and users/Terraform can connect.
    - name: sshd.socket
      dropins:
        - name: 10-sshd-port.conf
          contents: |
            [Socket]
            ListenStream=
            ListenStream=2222
storage:
  files:
    - path: /opt/installer
      filesystem: root
      mode: 0500
      contents:
        inline: |
          #!/bin/bash -ex
          flatcar-install \
            %{~ if install_to_smallest_disk ~}
            -s \
            %{~ else ~}
            -d ${install_disk} \
            %{~ endif ~}
            -C ${os_channel} \
            -V ${os_version} \
            -o "${container_linux_oem}" \
            ${baseurl_flag}
          udevadm settle
          OEM_DEV="$(blkid -t "LABEL=OEM" -o device)"
          mkdir -p /tmp/oemfs
          mount "$${OEM_DEV}" /tmp/oemfs
          echo 'set linux_append="${kernel_args} ignition.config.url=${ignition_endpoint}?{{.request.raw_query}}&os=installed"' >> /tmp/oemfs/grub.cfg
          echo 'set linux_console="${kernel_console}"' >> /tmp/oemfs/grub.cfg
          umount /tmp/oemfs
          ${install_pre_reboot_cmds}
          systemctl reboot
passwd:
  users:
    - name: core
      ssh_authorized_keys: ${ssh_keys}
