# Custom image that includes the https://github.com/equinix/cloud-provider-equinix-metal/pull/201
image:
  repository: quay.io/kinvolk/cloud-provider-equinix-metal
  tag: v3.2.2-1-g621c454
config:
  apiKey: ${api_key}
  projectID: ${project_id}
  bgpNodeSelector: "lokomotive.alpha.kinvolk.io/bgp-enabled=true"
  apiServerPort: 443
  loadbalancer: "empty://"
